<div class="container mt-5" style="max-width:700px">
  <h3 class="text-center mb-4">مواقيت الصلاة</h3>

  <input
    class="form-control"
    [(ngModel)]="city"
    placeholder="أدخل اسم المدينة"
    (keyup.enter)="search()"
  />

  <button class="btn btn-primary w-100 mt-3" (click)="search()">بحث</button>

  <div *ngIf="loading" class="text-center mt-3">جاري التحميل...</div>

  <div *ngIf="error" class="alert alert-danger mt-3 text-center">{{ error }}</div>
  
<div *ngIf="data && data.timings" class="mt-4">

  <p class="text-center">
    <strong>المدينة:</strong> {{ data.city }}
  </p>

  <p class="text-center">
    <strong>الدولة:</strong> {{ data.country }}
  </p>

  <table class="table table-bordered table-striped text-center mt-3" dir="rtl">
    <thead class="table-dark">
      <tr>
        <th>الصلاة</th>
        <th>الوقت</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>الفجر</td><td>{{ data.timings.Fajr }}</td></tr>
      <tr><td>الظهر</td><td>{{ data.timings.Dhuhr }}</td></tr>
      <tr><td>العصر</td><td>{{ data.timings.Asr }}</td></tr>
      <tr><td>المغرب</td><td>{{ data.timings.Maghrib }}</td></tr>
      <tr><td>العشاء</td><td>{{ data.timings.Isha }}</td></tr>
    </tbody>
  </table>

</div>
